{% extends 'base.html' %}
{% block title %} Pets {% endblock %}


{% block content %}
<h1> Pets </h1>
<div class="row">
    {% for pet in pets%}

    <div class="col-4">
        <img src="{{pet.photo_url}}" alt="photo for {{pet.name}}" class="img-thumbnail">
        {% if pet.available%}
        <p>{{pet.name}} is available!</p>
        {% else %}
        <p>{{pet.name}} is unavailable!</p>
        {% endif %}
    </div>

    {% endfor %}
</div>
<a class="btn btn-primary" href="/add"> Add a Pet </a>


{% endblock %}